.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 9px;
    right: -2px;
    background-color: #c20114;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover .item-count {
    transform: scale(1.3);
    background-color: #fd2339;
  }
}
